<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap-grid.min.css" rel="stylesheet">
    <title>Nano Notify</title>
    {% endblock %}
  </head>
  <body>
    <div id="contents">
    <div id="content" class="container">{% block content %}{% endblock %}</div>
  </div>
  </body>
</html>
