[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6.4"


[packages]

flask = "*"
flask-cors = "*"
flask-login = "*"
flask-sqlalchemy = "*"
bcrypt = "*"
gunicorn = "*"
requests = "*"
requests-mock = "*"


[dev-packages]

pytest = "*"
