html {
    height: 100%;
}

body {
    width: 100%;
    position: relative;
    margin: 0;
    min-height: 100%;
    background: #6994DD;
}

.login-nanotify-logo {
    width: 240px;
    height: 160px;
}

#contents {
    font-family: 'Montserrat', sans-serif;
}

.nav-color {
    background-color: #0E3F93 !important;
}

.navbar-logo {
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.p-t-25 {
    padding-top: 25px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-b-10 {
    padding-bottom: 10px;
}

#subscribe-logo {
    text-align: center;
}

#subscribe-logo img {
    max-height: 50%;
    max-width: 40%;
    margin-bottom: 30px;
}

.login-process {
    padding: 15px;
    width: 50%;
    margin: 0px auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.f-right {
    float: right;
}

.f-left {
    float: left
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

.t-centre {
    text-align: center !important;
}

.t-white {
    color: white !important;
}

.i-centre {
    align: center;
}

.bg-white {
    background-color: white !important;
    color: black !important;
}

.t-black {
    color: black !important;
}

.d-flex {
    display: flex;
}

.m-20 {
    margin-top: 20px;
}

.text-input {
    width: 100%;
    -webkit-appearance: none;
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin: 4px;
}

.login-process .button-input {
    text-decoration: none;
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px;
}

.login-process .register-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 10px;
}

#subscribe .button-input {
    text-decoration: none;
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.error {
    color: #e90000ee;
}

.login-and-register-card {
    width: 600px;
}

.half-height {
    height: 50%
}

.max-width {
    width: 100%;
}