html {
    height: 100%;
}

body {
    width: 100%;
    position: relative;
    margin: 0;
    min-height: 100%;
    background: #005080; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #005080 0%, #6bc5f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #005080 0%, #6bc5f9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #005080 0%, #6bc5f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005080', endColorstr='#6bc5f9', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

#contents {
    font-family: 'Montserrat', sans-serif;
}

.nav-color {
    background-color: #8c8b8a !important;
}

.navbar-logo {
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.vertical-padding-50 {
    padding-top: 25px;
    padding-bottom: 25px;
}

#subscribe-logo img {
    max-height: 50%;
    max-width: 40%;
    margin-bottom: 30px;
}

.login-process {
    padding: 15px;
    width: 50%;
    margin: 0px auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.f-right {
    float: right;
}

.f-left {
    float: left
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

.t-centre {
    text-align: center !important;
}

.t-white {
    color: white !important;
}

.bg-white {
    background-color: white !important;
    color: black !important;
}

.d-flex {
    display: flex;
}

.m-20 {
    margin: 20px;
}

.text-input {
    width: 100%;
    -webkit-appearance: none;
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin: 4px;
}

.login-process .button-input {
    text-decoration: none;
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px;
}

.login-process .register-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 10px;
}

#subscribe .button-input {
    text-decoration: none;
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px;
}

.error {
    color: #c30101;
}
