{% extends "layouts/base.html" %}
{% block content %}
<h1>Oops... Something went wrong</h1>
{% endblock %}
<footer>
        <div class="row bg-white">
            <div class="col-xs-12 m-auto">
                <div class="container text-center">
                    <div class="row">
                        <a href="https://www.facebook.com/Nanotify-953160901500318/" class="col">
                            <i class="zmdi zmdi-facebook-box zmdi-hc-2x zmdi-hc-fw color-black" style="line-height: 58px;"></i>
                        </a>
                        <a href="mailto:support@nanotify.co" class="col">
                            <i class="zmdi zmdi-email zmdi-hc-2x zmdi-hc-fw color-black" style="line-height: 58px;"></i>
                        </a>
                        <a class="col" href="https://github.com/benjefferies/nanonotifyaccount">
                            <i class="zmdi zmdi-github-box zmdi-hc-2x zmdi-hc-fw color-black" style="line-height: 58px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>