{% extends "layouts/base.html" %}
{% block head %}
  {{ super() }}
  <meta name="description" content="Nanotify - A Nano, formally 'Raiblocks', transaction notification webapp that will notify, by email, pending and received transactions for subscribed accounts.">
{% endblock %}
{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-12"></div>
    </div>

    <div class="row p-b-25 p-t-25">
        <div class="col-3"></div>
        <div class="col-6 t-centre">
            <img src="static/css/resources/pictures/logo.svg" alt="Nano Logo">
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row p-t-25">.
        <div class="col-3"></div>
        <div class="justify-content-md-center mdl-card login-and-register-card mdl-shadow--2dp p-b-10 col-6">
            <div class="justify-content-center col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="t-centre">
                            <img class="login-nanotify-logo" src="static/css/resources/pictures/nanotify-logo.svg">
                        </div>
                    </div>
                    <div class="mdl-card__subtitle-text">
                        <p class="t-centre"><strong>Safe, and fast, get notifications of pending and received transactions, simply subscribe to
                            the address of a Nano account and start receiving emails</strong></p>
                    </div>
                    <div class="col"></div>
                </div>
                {% if error %}
                    <p class="error t-centre p-t-10"><strong>{{ error }}</strong></p>
                {% endif %}
                <form class="max-width" method="post">
                    <div class="mdl-textfield mdl-js-textfield max-width">
                        <input class="mdl-textfield__input" type="text" id="email" name="email">
                        <label class="mdl-textfield__label" for="email">Email</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield max-width">
                        <input class="mdl-textfield__input" type="password" id="password" name="password">
                        <label class="mdl-textfield__label" for="password">Password</label>
                    </div>
                    <div class="row">
                        <div class="mdl-card__actions noselect col-6 t-centre b-r-grey-1px-solid">
                            <a href="">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect t-black max-width"
                                        data-lpignore="true">
                                    Login
                                </button>
                            </a>
                        </div>
                        <div class="mdl-card__actions noselect col-6 t-centre">
                            <button onclick="location.href='/register'" type="button"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect t-black max-width"
                                    data-lpignore="true">
                                Sign Up
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}