{% extends "layouts/base.html" %}
{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-12 vertical-padding-50"></div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <img src="static/css/resources/pictures/logo.svg" alt="Nano Logo">
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-12 vertical-padding-50"></div>
</div>

<div class="row justify-content-md-center">
    <div class="login-process">
        {% if error %}
        <p class="error"><strong>{{error}}</strong></p>
        {% endif %}
        <form method="post">
            <input placeholder="Email" class="text-input" type="text" name="email"><br>
            <input placeholder="Password" class="text-input" type="password" name="password"><br>
            <div class="row">
                <div class="noselect col-md-6">
                    <input class="button-input" type="submit" value="Submit">
                </div>
                <div class="noselect col-md-6">
                    <a href="/register"><input class="button-input" data-lpignore="true" value="Sign Up"></a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}