{% extends "layouts/base.html" %}
{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-12 vertical-padding-50"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 t-centre">
            <img src="static/css/resources/pictures/logo.svg" alt="Nano Logo">
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row">
        <div class="col-12 vertical-padding-50"></div>
    </div>

    <div class="row justify-content-md-center">
        <div class="login-process">
            <form method="post">
                <input placeholder="Email" class="text-input" type="text" name="email"><br>
                <input placeholder="Password" class="text-input" type="password" name="password"><br>
                <div class="row">
                    <div class="noselect col-md-6 t-centre">
                        <a href="">
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect t-white" data-lpignore="true">
                                Login
                            </button>
                        </a>
                    </div>
                    <div class="noselect col-md-6 t-centre">
                        <button onclick="location.href='/register'" type="button"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect t-white" data-lpignore="true">
                            Sign Up
                        </button>
                    </div>
                </div>
            </form>
            {% if error %}
                <p class="error t-centre"><strong>{{ error }}</strong></p>
            {% endif %}
        </div>
    </div>
{% endblock %}