{% extends "layouts/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-12 vertical-padding-50"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 t-centre">
            <img src="static/css/resources/pictures/logo.svg" alt="Nano Logo">
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row">
        <div class="col-12 vertical-padding-50"></div>
    </div>

    <div class="row justify-content-md-center">
        <div class="login-process">
            {% if error %}
                <p class="error"><strong>{{ error }}</strong></p>
            {% endif %}
            <form method="post">
                <input placeholder="Email" class="text-input" type="text" name="email"><br>
                <input placeholder="Password" class="text-input" type="password" name="password"><br>
                <div class="row">
                    <div class="noselect col-md-6 t-centre">
                        <button type="submit"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect t-white" data-lpignore="true">
                            Register
                        </button>
                    </div>
                    <div class="noselect col-md-6 t-centre">
                        <button onclick="location.href='/'" type="button"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect t-white" data-lpignore="true">
                            Back
                        </button>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6LdYpEQUAAAAALvPeHxWoAqPP3PzDJ4271Hw6HHc"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}