{% extends "layouts/base.html" %}
{% block nav %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header nav-color">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-title t-white">
                <img class="navbar-logo" src="static/css/resources/pictures/logo.svg" alt="Nano Logo"> NanoNotify
            </div>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link t-white" href="/logout">
                    <button class="mdl-button mdl-js-button mdl-button--raised t-black bg-white" data-lpignore="true">
                        Logout
                    </button>
                </a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            {% block content %}
            <div class="col-md-12">
                <div class="t-centre m-20">
                    {% if error %}
                    <p class="error"><strong>{{ error }}</strong></p>
                    {% endif %}
                </div>
                <div>
                    <form class="d-flex m-20" action="subscribe" method="post">
                        <input class="text-input col-md-9" placeholder="Account Address" type="text" name="account">
                        <input type="hidden" name="action" value="subscribe">
                        <button type="submit"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect t-white" data-lpignore="true">
                            Subscribe
                        </button>
                    </form>
                </div>
                <div class="row">
                    <table class="mdl-data-table mdl-js-data-table col-md-12">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Account</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subscription in subscriptions %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ subscription.account }}</td>
                            <td>
                                <form method="post">
                                    <input hidden="hidden" name="account" value="{{ subscription.account }}">
                                    <input type="hidden" name="action" value="delete">
                                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                                            data-lpignore="true">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}
    </main>
</div>
{% endblock %}