<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>RaiBlock Subscribe</title>

</head>

<body>
<form action="subscribe" method="post">
    Account: <input type="text" name="account"><br>
    <input type="submit" value="Subscribe">
</form>

<table>
    <thead>
    <tr>
        <td>Account</td>
    </tr>
    </thead>
    <tbody>
    {% for subscription in subscriptions %}
    <tr>
        <td>{{subscription.account}}</td>
    </tr>
    {% endfor %}
    <tr>
    </tr>
    </tbody>
</table>
</body>
</html>